@import './resets';
@import './variables';

@function weight ($weight-name) {
    @return map-get($map: $font-weights, $key: $weight-name);
}
body {
  background: $primary-color;
  color: $text-color;
}

.main {
  width: 80%;
  margin: 0 auto;
  #{&}_paragraph {
    font-weight: weight(bold);
    &:hover {
      color: pink;
    }
  }
  &:hover {
    color: orange;
    cursor: pointer;
  }
}
